<div class = "container">
  <div class = "row">
    <div class = "col-lg-4">
      <h1><%= @user.name %></h1>
    </div>
    <div class = "col-lg-8">
      <% @user.posts.order("created_at DESC").each do |post| %>
        <div class = "post">
          <h4><%= post.title %></h4>
          <p><%= post.body %>aa</p>
          <span class = "pull-right label label-info"><%= time_ago_in_words(post.created_at) %> ago</span>
          <% if post.user == current_user %>
            <span class = "pull-left"><%= link_to 'edit', edit_post_path(post),class: "btn btn-xs btn-primary" %> | <%= link_to 'destroy',post, method: :delete,data: {confirm: "Did it suck that much?"}, class: "btn btn-xs btn-danger" %></span>
          <%end%>
        </div>
        <% end %>
    </div>
  </div>
</div>
